/poorcraft-antigo/target
**/*.rs.bk
Cargo.lock
*.swp
.DS_Store
*.log
poorcraft-antigo/dist/
.vscode/
.idea/
*.iml
node_modules/
poorcraft-antigo/worlds/
.zcode/

# POORCRAFT 3D (current workspace)
poorcraft-novo/target/
